In [10]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

from statsmodels.regression.linear_model import OLS

In [11]:
df = pd.read_csv('/Users/adamraszyk/Desktop/projects/trafficdata.csv')

In [12]:
#Explore the data

In [13]:
df.head()

,event,date,country,city,artist,album,track,isrc,linkid
0,click,2021-08-21,Saudi Arabia,Jeddah,Tesher,Jalebi Baby,Jalebi Baby,QZNWQ2070741,2d896d31-97b6-4869-967b-1c5fb9cd4bb8
1,click,2021-08-21,Saudi Arabia,Jeddah,Tesher,Jalebi Baby,Jalebi Baby,QZNWQ2070741,2d896d31-97b6-4869-967b-1c5fb9cd4bb8
2,click,2021-08-21,India,Ludhiana,Reyanna Maria,So Pretty,So Pretty,USUM72100871,23199824-9cf5-4b98-942a-34965c3b0cc2
3,click,2021-08-21,France,Unknown,"Simone & Simaria, Sebastian Yatra",No Llores Más,No Llores Más,BRUM72003904,35573248-4e49-47c7-af80-08a960fa74cd
4,click,2021-08-21,Maldives,Malé,Tesher,Jalebi Baby,Jalebi Baby,QZNWQ2070741,2d896d31-97b6-4869-967b-1c5fb9cd4bb8

In [14]:
#get meta data 
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 226278 entries, 0 to 226277
Data columns (total 9 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   event    226278 non-null  object
 1   date     226278 non-null  object
 2   country  226267 non-null  object
 3   city     226267 non-null  object
 4   artist   226241 non-null  object
 5   album    226273 non-null  object
 6   track    226273 non-null  object
 7   isrc     219157 non-null  object
 8   linkid   226278 non-null  object
dtypes: object(9)
memory usage: 15.5+ MB

In [15]:
# amount of page views 
df["event"].value_counts()

event
pageview    142015
click        55732
preview      28531
Name: count, dtype: int64

In [18]:
#gruop by date
df[df["event"] == "pageview"].groupby(by="date")["event"].count()

date
2021-08-19    22366
2021-08-20    21382
2021-08-21    21349
2021-08-22    20430
2021-08-23    18646
2021-08-24    18693
2021-08-25    19149
Name: event, dtype: int64

In [19]:
# del duplicates 
df_deduplicated = df.drop_duplicates()

In [20]:
df_deduplicated["event"].value_counts()

event
pageview    73360
click       32499
preview     16708
Name: count, dtype: int64

In [21]:
df_deduplicated[df_deduplicated["event"] == "pageview"].groupby(by="date")["event"].count()

date
2021-08-19    13006
2021-08-20    11088
2021-08-21     9939
2021-08-22     9982
2021-08-23     9722
2021-08-24     9705
2021-08-25     9918
Name: event, dtype: int64

In [22]:
#other recorded events
recorded_events = set(df["event"].unique())
# del 'pageview' event
recorded_events.remove("pageview")
recorded_events

{'click', 'preview'}

In [24]:
#Once we have the other recorded events, we can simply loop over them
for recorded_event in recorded_events:
    # get the # of occurrences
    total_events = df[df["event"] == recorded_event].shape[0]
    print("#", recorded_event, "events is", total_events, "\n")
    # group by the date and aggregate by CNT
    data_set = df[df["event"] == recorded_event].groupby(by="date")["event"].count()
    print(recorded_event, "event/ per day:\n")
    print(data_set, "\n")

# preview events is 28531

preview event/ per day:

date
2021-08-19    3788
2021-08-20    4222
2021-08-21    4663
2021-08-22    4349
2021-08-23    3847
2021-08-24    3840
2021-08-25    3822
Name: event, dtype: int64

# click events is 55732

click event/ per day:

date
2021-08-19    9207
2021-08-20    8508
2021-08-21    8071
2021-08-22    7854
2021-08-23    7315
2021-08-24    7301
2021-08-25    7476
Name: event, dtype: int64

In [25]:
#what countries did the clicks come from?
# filter for the proper event
df_q3 = df[df["event"] == "click"]
# or alternatively, you can loop over the array provided by df.unique() and print them all
pd.DataFrame(data=df_q3["country"].dropna().unique(), columns=["Country"])

                    Country
0              Saudi Arabia
1                     India
2                    France
3                  Maldives
4             United States
..                      ...
197                Guernsey
198                   Palau
199                   Åland
200  Principality of Monaco
201                  Brunei

[202 rows x 1 columns]

In [26]:
#overall click rate

In [28]:
# filter only 'click' events and group them by the 'linkid' to get their count,
# i.e., number of clicks on each link
link_clicks = df[df["event"] == "click"].groupby(by="linkid")["event"].count().reset_index()
link_clicks = link_clicks.rename(columns={
    "event": "clicks" # rename column for easier manipulation
})
# do the same for the 'pageview' events
pageviews = df[df["event"] == "pageview"].groupby(by="linkid")["event"].count().reset_index()
pageviews = pageviews.rename(columns={
    "event": "pageviews"
})

In [29]:
link_clicks.head()

                                 linkid  clicks
0  00126b32-0c35-507b-981c-02c80d2aa8e7       2
1  004b9724-abca-5481-b6e9-6148a7ca00a5       1
2  0063a982-41cd-5629-96d0-e1c4dd72ea11       2
3  006af6a0-1f0d-4b0c-93bf-756af9071c06       8
4  00759b81-3f04-4a61-b934-f8fb3185f4a0       3

In [30]:
pageviews.head()

                                 linkid  pageviews
0  00073307-ae96-5089-a117-4783afb42f8e          2
1  00126b32-0c35-507b-981c-02c80d2aa8e7          2
2  0018cfff-50a1-5984-9715-01ef2d11a49a          1
3  0033934b-5d16-5a06-af58-d087bcdd3680          1
4  0034d6cf-3bd8-5ffe-aafc-b3959fc48608          1

In [31]:
df_q4 = pd.merge(left=link_clicks, right=pageviews, on="linkid", how="inner")
# define new colloumb 
df_q4["click_rate"] = df_q4["clicks"] / df_q4["pageviews"]

In [33]:
df_q4

                                    linkid  clicks  pageviews  click_rate
0     00126b32-0c35-507b-981c-02c80d2aa8e7       2          2    1.000000
1     004b9724-abca-5481-b6e9-6148a7ca00a5       1          1    1.000000
2     0063a982-41cd-5629-96d0-e1c4dd72ea11       2          3    0.666667
3     006af6a0-1f0d-4b0c-93bf-756af9071c06       8         36    0.222222
4     00759b81-3f04-4a61-b934-f8fb3185f4a0       3          4    0.750000
...                                    ...     ...        ...         ...
2248  ffd8d5a7-91bc-48e1-a692-c26fca8a8ead      29         84    0.345238
2249  fff38ca0-8043-50cd-a5f1-f65ebb7105c5       1          1    1.000000
2250  fff84c0e-90a1-59d8-9997-adc909d50e16       1          1    1.000000
2251  fffc17a7-f935-5d3e-bd3e-d761fd80d479       1          2    0.500000
2252  fffd0045-29de-522b-b5d8-35786363bf07       1          2    0.500000

[2253 rows x 4 columns]